ul
{
	list-style-type: none;
}

#generalInfo
{
	width: 400px;
	float: left;
	margin-top: 30px;
}

#educationalInfo
{
	width: 400px;
	float: right;
	margin-top: 5px;
}

#essay
{
	overflow: auto;
	height: 300px;
	width: 100%;
}

#essay p
{
	padding: 10px;
}

#extra
{
	overflow: auto;
	height: 300px;
	width: 100%;
}

#extra p
{
	padding: 10px;
}

#recomm
{
	width: 100%;
}

.recommenderNotes
{
	width: 100%;
}

#recomm p
{
	overflow: auto;
	height: 150px;
}

.actions
{
	float: left;
}

#notes
{
	float: right;
}

#notes textarea
{
	resize: none;
}