.dashboardMenu .ui-accordion-header
{
    background: #005696;
    border-color: #005696;
    width: 95%;
    margin-left: 2%;
}

.dashboardMenu .ui-accordion-content
{
    background: white;
    color: #464646;
    display: inline-block;
    width: 95%;
    margin-left: 2%;
}

.dashboardMenuActions
{
    display: block;
    float: left;
    margin-top: 1%;
}

.dashboard
{
    overflow: auto;
    height: 10px;
    width: 20%;
    display: inline-block;
}

.link
{
    margin-left: 2%;
}
