.meetingsMenu .ui-accordion-header
{
    background: #005696;
    border-color: #005696;
    max-width: 1020px;
    margin-left: 2%;
}

.meetingsMenu .ui-accordion-content
{
    background: white;
    color: #464646;
    max-width: 1020px;
    margin-left: 2%;
}

.meetingsMenuActions
{
    display: block;
    float: left;
    margin-top: 1%;
}

.meetings
{
    overflow: auto;
    height: 10px;
    width: 20%;
    display: inline-block;
}

.link
{
    margin-left: 2%;
}
